<mat-card class="flight-card">
  <div  class="flight-card__title">
    <mat-card-title class="title-position">{{flight.flightData?.flightNumber}}</mat-card-title>
    <mat-card-title class="title-flight">{{flight.from | airportName: 'city'}}-{{flight.to | airportName: 'city'}}</mat-card-title>
    <mat-card-subtitle class="flight-card__subtitle">{{flight.flightData?.startTime }}</mat-card-subtitle>
  </div>
  <app-passenger-luggage *ngFor="let passenger of passengers" [passenger]="passenger" [indexOfFlight]="indexOfFlight"></app-passenger-luggage>
</mat-card>
