<h2 class="page-title flight-selection-title">
  <mat-icon class="flight-icon">flight</mat-icon>
  <span>
    {{ source === 'backway' ?
    (response.to | airportName: 'city') + ' ' + (response.to | airportName: 'name') + ' to ' + (response.from | airportName: 'city') + ' ' + (response.from | airportName: 'name'):
    (response.from | airportName: 'city') + ' ' + (response.from | airportName: 'name') + ' to ' + (response.to | airportName: 'city') + ' ' + (response.to | airportName: 'name')}}
  </span>
</h2>

<ngx-slick-carousel *ngIf="source !== 'backway' ? !checkedThereWay : !checkedBackWay"
  class="carousel date-carousel"
  #slickModal="slick-carousel"
  [config]="source !== 'backway' ? slideConfig : slideConfigBack"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let item of (source !== 'backway' ? response.thereWay : response.backWay), let i = index" class="slide" width="25%">
  <span class="carousel-date">{{ response.startDate | sequenceDate: i | date: 'd MMMM'}}</span>
  <span class="carousel-weekday">{{ response.startDate | sequenceDate: i | date: 'EEEE'}}</span>
  <span class="carousel-price">{{ item.price.eur | currency: 'EUR' }}</span>
</div>
</ngx-slick-carousel>
<!-- <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->

<ngx-slick-carousel class="carousel"
  [ngClass]="{'backway-carousel': source === 'backway', 'flight-carousel': source !== 'backway'}"
  #slickModal="slick-carousel"
  [config]="source !== 'backway' ? flightCardConfig : flightCardConfigBack"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let item of (source !== 'backway' ? response.thereWay : response.backWay), let i = index"
    class="slide">
    Index {{i}}
    <mat-card class="flight-card" [ngClass]="{'selected' : (source !== 'backway' ? checkedThereWay : checkedBackWay)}">
      <mat-card-content class="content-wrapper">
        <div class="flight-details-wrapper">
          <div class="flight-details">
            <div class="info-wrapper">
              <span class="day">{{ response.startDate | sequenceDate: i | date: 'EE, d MMMM y' }}</span>
              <span class="time">{{ source !== 'backway' ? response.thereWay[i].startTime : (response.backWay ?
                response.backWay[i].startTime : '') }}</span>
              <span class="timezone">UTC +0</span>
              <span class="airport">{{ source === 'backway' ?
                (response.to | airportName: 'city') + ' (' + response.to + ')' :
                (response.from | airportName: 'city') + ' (' + response.from + ')'}}</span>
            </div>
            <div class="add-info-wrapper">
              <div class="add-info">
                <span class="flight-duration">{{ source !== 'backway' ? (response.thereWay[i].timeWay | convertDuration)
                  : (response.backWay ?
                  (response.backWay[i].timeWay | convertDuration) : '')}}</span>
                <mat-icon class="takeoff-icon" [ngClass]="{'backway-icon': source === 'backway'}">flight_takeoff</mat-icon>
                <div class="flight-type">
                  <span>{{ source !== 'backway' ? (response.thereWay[i].direct.isDirect ? 'Direct' :
                    'Connected')
                    : (response.backWay ? (response.backWay[i].direct.isDirect ? 'Direct' : 'Connected') : '')}}</span>
                  <span
                    *ngIf="(source !== 'backway' ? !response.thereWay[i].direct.isDirect : !(response.backWay ? response.backWay[i].direct.isDirect : ''))">
                    {{ source !== 'backway' ? response.thereWay[i].direct.airportRedirect[1] : (response.backWay ?
                    response.backWay[i].direct.airportRedirect[1] : '')}}
                    ({{ source !== 'backway' ? response.thereWay[i].direct.airportRedirect[0] : (response.backWay ?
                    response.backWay[i].direct.airportRedirect[0] : '')}})
                  </span>
                </div>
              </div>
            </div>
            <div class="info-wrapper arrival">
              <span class="day">{{ response.startDate | nextDayArrival: (source !== 'backway' ? response.thereWay[i].startTime :
                (response.backWay ? response.backWay[i].startTime : '')) : (source !== 'backway' ? response.thereWay[i].timeWay :
                (response.backWay ? response.backWay[i].timeWay : 0)) | sequenceDate: i | date:
                'EE, d MMMM y' }}</span>
              <span class="time">{{ source !== 'backway' ? (response.thereWay[i].startTime | arrivalTime:
                response.thereWay[i].timeWay) : (response.backWay ? (response.backWay[i].startTime | arrivalTime:
                response.backWay[i].timeWay) : '') }}</span>
              <span class="timezone timezone-arrival">UTC +0</span>
              <span class="airport">{{ source !== 'backway' ?
                (response.to | airportName: 'city') + ' (' + response.to + ')' :
                (response.from | airportName: 'city') + ' (' + response.from + ')' }}</span>
            </div>
            </div>
          <div class="flight-number">
            <span class="number-label">Flight no.</span>
            <span>{{ source !== 'backway' ? response.thereWay[i].flightNumber : (response.backWay ?
              response.backWay[i].flightNumber : '')}}</span>
          </div>
        </div>
        <div class="price-details">
          <div class="availability-price">
            <div class="availability" *ngIf="source !== 'backway' ? !checkedThereWay : !checkedBackWay">
              <span>{{ source !== 'backway' ? response.thereWay[i].available : (response.backWay ?
                response.backWay[i].available : '')}} seats</span>
              <span>available</span>
            </div>
            <div class="price-wrapper">
              <span class="price-label" *ngIf="source !== 'backway' ? !checkedThereWay : !checkedBackWay">Price</span>
              <span class="price">{{ source !== 'backway' ? (response.thereWay[i].price.eur | currency:'EUR') :
                (response.backWay ? (response.backWay[i].price.eur | currency:'EUR') : '')}}</span>
            </div>
          </div>
          <button class="select-btn" *ngIf="source !== 'backway' ? !checkedThereWay : !checkedBackWay" mat-flat-button (click)="selectFlight(i)">Select</button>
          <button class="edit-btn" *ngIf="source !== 'backway' ? checkedThereWay : checkedBackWay" mat-button color="primary" (click)="editSelection()">Edit</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ngx-slick-carousel>

