<header class="header">
  <div class="header__logo">
<mat-icon color="primary" class="header__icon-flight">flight</mat-icon>
<p class="header__logo-text">AIRWAYS</p>
</div>


<div class="header__user-pannel">
<p class="header__settings-text">Book flight</p>
<mat-select [(value)]="mdy" class="header__date">
  <mat-option [value]="mdy">MM/DD/YYYY</mat-option>
  <mat-option [value]="dmy">DD/MM/YYYY</mat-option>
  <mat-option [value]="ydm">YYYY/DD/MM</mat-option>
  <mat-option [value]="ymd">YYYY/MM/DD</mat-option>
</mat-select>


<mat-select [(value)]="euro" class="header__curr">
  <mat-option [value]="euro">{{euro}}</mat-option>
  <mat-option [value]="usa">{{usa}}</mat-option>
  <mat-option [value]="rub">{{rub}}</mat-option>
  <mat-option [value]="pln">{{pln}}</mat-option>
</mat-select>

<button mat-button class="header__button-user" *ngIf="(this.authService.user$ |async) === null"
(click)="openDialog()">
  <!-- <mat-icon class="header__button-user-icon">person</mat-icon> -->
  <mat-icon class="header__button-user-icon">account_circle</mat-icon>
Sign in</button>

<button mat-button class="header__button-user" *ngIf="this.authService.user$ |async as user">
  <!-- <mat-icon class="header__button-user-icon">person</mat-icon> -->
  <mat-icon class="header__button-user-icon">account_circle</mat-icon>
{{user.user.firstName}}</button>

<button mat-button class="header__button-basket">
  <!-- <mat-icon class="header__basket">shopping_basket</mat-icon> -->
  <mat-icon class="header__button-basket-icon" aria-hidden="false" aria-label="Example shopping_basket icon" fontIcon="shopping_basket">shopping_basket</mat-icon>
</button>
</div>

</header>


