.bg-wrapper {
  min-height: calc(100vh - 100px);
  padding-top: 150px;
  padding-bottom: 162px;
  background-image: url('../../../../assets/img/main-page-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
