<footer class="footer">

<div class="footer__author">
  <a href="https://github.com/9fogel" class="footer__github-link" target="_blank">9fogel</a>
  <a href="https://github.com/andreizaretski" class="footer__github-link" target="_blank">andreizaretski</a>
  <a href="https://github.com/marinafando" class="footer__github-link" target="_blank">marinafando</a>
</div>

<p class="footer__right-text">© 2023, AIRWAY. All rights reserved.</p>

<div class="footer__pay-systems">
  <p class="footer__pay-text">We accept these payment methods </p>
  <p class="footer__pay-text-min">Payment methods </p>
  <div class="footer__pay-icons mastercard"></div>
  <div class="footer__pay-icons pay"></div>
  <div class="footer__pay-icons americanexpress"></div>
  <div class="footer__pay-icons visa"></div>
</div>

</footer>
