// .auth-wrapper {
//   margin-top: 88px;
//   width: 100%;
//   background-color: rgba(116, 118, 122, 0.3);
// }

.auth-modal {
  width: 494px;
  // background-color: white;
  //height: 10000px;
  // overflow: hidden;
  //margin-left: 40%;
  &__content1 {
    overflow: hidden;
    
  }

  &__content {
    overflow: hidden;
    
  }

  &__form {
    //margin-top: 10px;
    // height: 1000px;
    overflow: hidden;
  }
}

// .login-form {
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
// }