/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --blue: #3f51b5;
  --blue-accent: #0090bd;
  --yellow: #f1c933;
  --bg-gray: #f5f5f5;
  --super-light-gray: #fafafa;
  --light-gray: #d0d9df;
  --shadow-gray: #B4B4B4;
  --gray: #74767a;
  --dark-gray: #49454f;
  --gray-disabled: #00000061;
  --bg-gray-disabled: #0000001f;
  // --dark-gray: #4f4f4f;
  --white: #ffffff;
  --green-yellow: #7f8906;
  --black: #1c1b1f;
  --default-black: #000000;
  --red: #ff0000;
  --superdark-red: #300000;
  --shadow: #00000033;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6, p {  margin: 0;}
* {  box-sizing: border-box;
  margin: 0;
}

.cdk-overlay-container {
  position: absolute;
  z-index: 1000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1152px;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--blue);
}

.slick-slider .slick-track {
    display: flex;
    align-items: flex-end;
    padding-top: 13px;
    width: 100%;
    height: 83px;
  }

.flight-carousel.slick-slider .slick-track,
.backway-carousel.slick-slider .slick-track {
  display: block;
  padding-top: 0;
  height: unset;
}

button.slick-prev,
button.slick-next {
  line-height: unset;
  transform: translate(0, -10%);
}

button.slick-next {
  right: 0;
}

button.slick-prev {
  z-index: 3;
  left: 0;
}

.slick-prev:before, .slick-next:before {
  color: var(--blue-accent)!important;
}




